<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}{% endblock %}
        </title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
            <link rel="stylesheet" href="{{ asset('build/app.css') }}">
        {% endblock %}
    </head>

    <body>

        <header>
            <div class="d-flex flex-nowrap">
                <div class="col-3 col-md-6 offset-3 my-2 mt-3">
                    <h1 class="text-center">
                        <a href="{{ path('home') }}">Les VallesBaQues</a>
                    </h1>
                </div>
                <div class="d-none d-lg-block col-3 log-menu text-center ">
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <a href="{{ path ('user_profil', { 'username' : app.user }) }}" class="h6 mr-3">Mon Profil
                            <i class="fas fa-user"></i>
                        </a>

                        <a href="{{ path('logout') }}" class="h6 mr-3">Déconnexion
                            <i class="fas fa-sign-out-alt"></i>
                        </a>
                    {% else %}
                        <a href="{{ path('security_signup') }}" class="h6 mr-3">Inscription
                            <i class="fas fa-user-plus"></i>
                        </a>

                        <a href="{{ path ('security_login')}}" class="h6 mr-3">Connexion
                            <i class="fas fa-sign-in-alt"></i>
                        </a>
                    {% endif %}
                </div>
            </div>
            {# burger #}
            <div class="pos-f-t d-lg-none">
                <div class="collapse" id="navbarToggleExternalContent">
                    <div class="bg-red p-3">
                        <div class="dflex">
                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                <img src="{{ asset('/images/vince.jpg') | imagine_filter('mini_square') }}" alt="avatar de " class="rounded-circle">
                            {% endif %}
                            <a href="{{ path('home') }}" class="ml-2 pt-2">
                                <h5 class="text-green h4">Accueil
                                </h5>
                            </a>
                        </div>
                        <span class="text-muted ml-2">
                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                <a href="{{ path ('user_profil', { 'username' : app.user }) }}">Mon Profil</a>
                                |
                                <a href="{{ path('logout') }}">Déconnexion</a>
                            {% else %}
                                <a href="{{ path('security_signup') }}">Inscription</a>
                                |
                                <a href="{{ path ('security_login')}}">Connexion</a>
                            {% endif %}
                        </span>

                        <ul>
                            <li>
                                <a href="{{ path('category') }}">Catégories</a>
                            </li>
                            <li>Niveaux</li>
                        </ul>
                    </div>
                </div>
                <nav class="navbar navbar-dark bg-green text-green">

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </nav>
            </div>

            {# fin burger #}
<div class="d-none d-lg-block header-menu">

                <ul class="nav nav-tabs h5 pt-3 ">
                    <li class="nav-item">
<a class="nav-link {% block category %}{% endblock %}" href="{{ path('category') }}">Les Catégories</a>
                    </li>
                    {#<li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                        aria-expanded="false">Dropdown</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item " href="#">Les Quizzs</a>
                        <a class="dropdown-item " href="#">Another action</a>
                        <a class="dropdown-item " href="#">Something else here</a>
                        <div class="dropdown-divider "></div>
                        <a class="dropdown-item " href="#">Separated link</a>
                    </div>#}
                </li>
                {# TODO es que l'on fait une catégorie Niveau ?
                <li class="nav-item ">
                    <a class="nav-link {% block level %}{% endblock %}" href="#">Les Niveaux</a>
                </li>
                #}
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <li class="nav-item ">
                        <a class="nav-link {% block quizz %}{% endblock %}" href="{{ path('quizz_list_sort') }}">Les Quizzs</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link {% block new_quizz %}{% endblock %}" href="{{ path('new_quizz') }}">Poster un Quizz</a>
                    </li>
             
                {% endif %}

            </ul>
        </div>
    </header>

    <div class="subheader"></div>

    {% block body %}{% endblock %}11111111111111111

    <footer class="container text-center mt-3">
<p id="footer">Made with &hearts; by ViVi Team -
            {{ "now"|date("Y") }}</p>
    </footer>
    <script src="{{ asset('build/app.js') }}"></script>
    {% block javascripts %}{% endblock %}
</body>

</html>