{% extends 'base.html.twig' %}
{% block my_crew %}active{% endblock %}
{% block title %}Mes groupes{% endblock %}

{% block body %}
<style>

</style>
<main class="bubble col-8 offset-2">

    <div class="m-1 border border-primary brad row">
        <div class="col-2 p-2">
            {% if null != userCrews[0].crew.avatar %}
            <img src="{{ vich_uploader_asset(userCrews[0].crew, 'avatarFile') | imagine_filter('small_square') }}" alt="avatar de {{ userCrews[0].crew.name }}"
                class="brad m-2">
            {% else %}
            <img src="#" alt="avatar de {{ userCrews[0].crew.name }}" class="brad  m-2">
            {% endif %}
        </div>
        <div class=" bubble-title col-10 p-2 ">
            <u>
                <h3>{{ userCrews[0].crew.name }}</h3>
            </u>
            <p><u><ins>crée le :</ins></u> {{ userCrews[0].crew.createdAt|date('d/m/Y') }}</p>
            <p><u><ins>Description:</ins></u> {{ userCrews[0].crew.description }}</p>
        </div>
    </div>

    <sdiv>
        <div class="brad m-1">
            <table class="table">
                <thead>
                    <tr>
                        {#TODO créer un service pour avatar perso ou defaut avatar #}
                        <th scope="col"><u>Avatar</u></th>
                        <th scope="col"><u>Nom</u></th>
                        <th scope="col"><u>ancienneté</u></th>
                        <th scope="col"><u>role</u></th>
                    </tr>
                </thead>
                <tbody>
                    {% for crew in userCrews %}
                    <tr>
                        <th scope="col">
                            {#TODO créer un service pour avatar perso ou defaut avatar #}
                            {% if null != crew.user.avatar %}
                            <img src="{{ asset('/images/vince.jpg') | imagine_filter('icon_square') }}" alt="avatar de {{ crew.user.userName }}"
                                class="brad m-2">
                            {% else %}
                            <img src="{{ asset('/images/avatar1.png') | imagine_filter('icon_square') }}" alt="avatar de {{ crew.user.userName }}"
                                class="brad  m-2">
                            {% endif %}</th>
                        <th scope="col">{{ crew.user.userName }}</th>
                        <th scope="col">{{ crew.user.createdAt|date }}</th>
                        <th scope="col">{{ crew.roleCrew.name }}</th>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
          
            {% if userCrews|length < 2 %}
                
            <span href="#" class="text-primary h3">
                <i class="fas fa-sad-tear  mr-1"></i>
            </span>
            {% endif %}
            



        </div>
        </div>

</main>
</div>
</div>
{% endblock %}