{% extends 'base.html.twig' %}

{% block title %}{{title}}
{% endblock %}

{% block body %}

          
                <h2 class="bubble-title">Bienvenue</h2>
                <p>
                    Pour jouer, pour apprendre ou pour réviser rien de mieux qu'un petit questionnaire. Crée ton questionnaire en 2 minutes et défie tes amis.
                </p>
          
            <div class="bubble">
                <h3 class="bubble-title">Les Derniers Quizzes</h3>
                {% for q in newQuizzes %}
                    <ul>
                        <li class="li_none">
                            <a href="{{ path('quizz_show', {'id': q.id, 'slug': q.slug }) }}">{{ q.title }}</a>
                        </li>
                    </ul>
                {% endfor %}
            </div>
            <div class="bubble">
                <h3 class="bubble-title">Un Quizz aléatoire ?</h3>
                <p>
                    <a href="{{ path('quizz_show', {'id' : randomQuizz.id, 'slug': randomQuizz.slug }) }}">{{ randomQuizz.title }}</a>
                </p>

            </div>
        {% endblock %}