{% extends 'base.html.twig' %}

{% block title %}Profil de
    {{ user }}
    !{% endblock %}

{% block body %}

    <div class="bubble col-8 offset-2">
        <h1 class="bubble-title">Mon profil</h1>
    </div>
    <main class="bubble col-8 offset-2">
        <div class="m-1 border border-primary brad p-2">
            <h3 class="d-inline">Mes infos</h3>
            <div class="float-right h5 m-1">
                <a href="{{ path('edit_user_profile', {'id': app.user.id , 'username': app.user.username}) }}">
                    <i class="fas fa-user-edit mr-1"></i>
                    <u>modifier</u>
                </a>
            </div>

        </div>

        <div class="container fluid ">
            <div class="row">

                <div class="col-4 d-none d-lg-block">
                    {% if null != user.avatar %}
                        <img src="{{ asset('/images/avatars/'~user.avatar~'') | imagine_filter('medium_square') }}" alt="avatar de {{ user.username }}" class="brad">
                    {% else %}
                        <div class="bigSize">
                            <i class="fas fa-portrait"></i>
                        </div>
                    {% endif %}
                </div>
                <div class=" col-12 col-lg-4 d-lg-none ">
                    {% if null != user.avatar %}
                        <img src="{{ asset('/images/vince.jpg') | imagine_filter('small_square') }}" alt="avatar de {{ user.username }}" class="brad">
                    {% else %}
                        <div class="bigSize">
                            <i class="fas fa-portrait"></i>
                        </div>
                    {% endif %}
                </div>

                <dir class="col-12 col-lg-8 text-left">
                    <ul>
                        <li class="h5 mb-2">
                            <ins>
                                <u>Nom:</u>
                            </ins>
                            {{ user.username }}
                        </li>
                        <li class="h5 mb-2">
                            <ins>
                                <u>Email:</u>
                            </ins>

                            {{ user.email }}
                        </li>
                        <li class="h5 mb-2">
                            <ins>
                                <u>Présentation:</u>
                            </ins>

                            {{ user.presentation }}
                        </li>
                    </ul>
                </dir>
            </div>
        </div>
        <div id="accordion">
            <h3 class="m-1 border border-primary brad p-2">Mes Groupes</h3>
            <div>
                {% if userCrews is defined%}{% endif %}
                <span href="#" class="text-primary h3">
                    <i class="fas fa-sad-tear mr-1"></i>
                </span>
                Tu n'as pas encore de groupe ?
                <br/>
                <a href="#" class="text-primary h3">
                    <i class="fas fa-search mr-1"></i>
                </a>Trouve un groupe ou
                <a href="#" class="text-primary h3">
                    <i class="fas fa-edit mr-1"></i>
                </a>crée un groupe
                <br/>
                pour partager tes Quizzes
            </div>
            <h3 class="m-1 my-2 border border-primary brad p-2">Mes Stats</h3>
            <div class="brad m-1">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Quizzes</th>
                            <th scope="col">Catégories</th>
                            <th scope="col">Niveaux</th>
                            <th scope="col">Résultats</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for ms in myStats %}
                            <tr>
                                <th scope="row">
                                    <a href="{{ path('quizz_show' , {'id': ms.quizz.id, 'slug': ms.quizz.slug }) }}">{{ ms.quizz.title }}</a>
                                </th>
                                <td>{{ ms.quizz.category }}</td>
                                <td>{{ ms.quizz.level }}</td>
                                <td>{{ ms.result }}
                                    {% if ms.result == 10 %}
                                        <i class="fas fa-check-circle green ml-2"></i>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <h3 class="m-1 border border-primary brad p-2">Tes Quizzes</h3>
            <div>
                <div class="brad m-1">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Quizzes</th>
                                <th scope="col">Catégories</th>
                                <th scope="col">Niveaux</th>
                                <th scope="col">Like</th>
                                <th scope="col">Résultats moyen</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for mq in myQuizzes %}
                                <tr>
                                    <th scope="row">{{ mq.title }}</th>
                                    <td>{{ mq.category }}</td>
                                    <td>{{ mq.level }}</td>
                                    {# TODO codé en dur a modifier #}
                                    <td>{{ random(30) }}</td>
                                    {# TODO codé en dur a modifier #}
                                    <td>{{ random(10) }}/10</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </main>
    {% endblock %}