{% extends 'base.html.twig' %}
{% block title %}Les Quizzes{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="col-10 offset-1">
            <div class="bubble">
                <h2 class="bubble-title">Les Quizzes</h2>
                <div class="container">
                    <ul class="list-inline">
                        <!-- li class="list-inline-item"><a href="{{ path ('quizz_list' , {'sort' : 'title' }) }}">A à Z</li>|</a -->
                        <li class="list-inline-item">
                            <a href="{{ path ('quizz_list' , {'sort' : 'id'}) }}">Date</li>|</a>
                        <li class="list-inline-item">
                            <a href="{{ path ('quizz_list' , {'sort' : 'level' }) }}">Niveau</li>|</a>
                        <!-- TODO modifier id par like quand islike oprérationnel-->
                        <li class="list-inline-item">
                            <a href="{{ path ('quizz_list' , {'sort' : 'isLike'}) }}">Like</li>
                        </a>
                    </ul>
                </div>
                <button class="btn btn-danger" type="button">
                    <a href="#">Propose ton Nouveau Quizz</a>
                </button>

                <div class="container mt-5">
                    {% for c in categories %}
                        <div class="container">
                            <div class="row">
                                <div class="category">
                                    <h4>{{c.name}}</h4>
                                </div>
                                <div class="triangle"></div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between">
                            <ul>
                                {% for q in quizzs %}
                                    {% if q.category.id == c.id %}
                                        <li>
                                            <a href="{{path ('quizz_show', {'id':q.id})}}">{{ q.title }}</a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                            <button class="btn btn-success" type="button">
                                <a href="{{path ('quizz_show', {'id':q.id})}}">Go !</a>
                            </button>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}