{% extends 'base.html.twig' %}
{% block quizz %}quizzs{% endblock %}
{% block title %}<u>quizz</u> en construction

{% endblock %}

{% block body %}
<div class="bubble col-8 offset-2">
    <h2 class="bubble-title">Ces quizzs ne sont pas finis <br /> est que tu ne veux pas les finir avant commencer un
        nouveau ?</h2>

    <div class="bubble">
        <div class="" id="accordion">
            {% for qz in quizzs %}
<h3 class="m-1 my-2 border border-primary brad p-2">{{qz.title}}</h3>
            <div class="brad m-1">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Question</th>
                            <th scope="col">réponse 1</th>
                            <th scope="col">réponse 2</th>
                            <th scope="col">réponse 3</th>
                            <th scope="col">réponse 4</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for qt in questions[qz.id] %}
                        <tr>
                            <td>{{ qt.body }}</td>
                            <td>{{ qt.prop1 }}</td>
                            <td>{{ qt.prop2 }}</td>
                            <td>{{ qt.prop3 }}</td>
                            <td>{{ qt.prop4 }}</td>
                        </tr>
                    </tbody>
                    {% endfor %}

                </table>

            </div>
            {% endfor %}
        </div>
    </div>
</div>
</div>


{#
<a href="{{ path('add_like', {'id': quizz.id, 'slug': quizz.slug }) }}">
    <h4>J'adore ce quizz
        <i class="fas fa-thumbs-up ml-1"></i>
    </h4>
</a>

</div>
{% for key, q in quizz.questions %}
<div class="bubble col-8 offset-2 {% if 'prop1' == answers[key+1] %}true{% else %}false{% endif %}">
    <p class="h5">{{ q.body }}</p>
    <div class="bubble col-8 offset-2">
        {% if 'prop1' == answers[key + 1] %}
        <h5 class="green">Tout Bon
            <i class="fas fa-check-circle"></i>
        </h5>
        {% else %}
        <h5 class="red">Raté
            <i class="fas fa-times-circle"></i>
        </h5>
        {% endif %}
        <ins>la bonne réponse était :</ins>
        <span>{{ q.prop1 }}
            {% if 'prop1' == answers[key + 1] %}{% endif %}
        </span>
    </div>
    {% if 'prop1' != answers[key + 1] %}
    <div class="col-8 offset-2">Tu as répondu :
        {% if 'prop1' == answers[key + 1] %}
        la bonne réponse
        {% elseif 'prop2' == answers[key+1] %}{{ q.prop2 }}
        {% elseif 'prop3' == answers[key+1] %}{{ q.prop3 }}
        {% elseif 'prop4' == answers[key+1] %}{{ q.prop4 }}
        {% endif %}
    </div>
    {% endif %}
    {% if q.anecdote != null %}
    <p>
        <u>
            <ins>anectode</ins>
        </u>
        {{ q.anecdote }}</p>
    {% endif %}
    {% if q.source != null %}
    <p>
        <u>
            <ins>Source</ins>
        </u>
        {{ q.source }}</p>
    {% endif %}
</div>
{% endfor %}

{#TODO afficher un div avec les statistiques du joueur sur ce quizz
<div class="bubble col-8 offset-2">
    <p class="h5">Stats </p>
</div>


#}
{% endblock %}