{% extends 'base.html.twig' %}
{% block quizz %}results{% endblock %}
{% block title %}Résultats
    {{quizz.title}}
{% endblock %}

{% block body %}
        <h2 class="bubble-title">
            {% if 10 == points %}
                <i class="fas fa-grin-stars"></i>
            {% elseif 
                    8 <= points %}
                <i class="far fa-grin-hearts"></i>
            {% elseif 
                    6 <= points %}
                <i class="fas fa-smile-beam"></i>
            {% elseif 
                        5 == points %}
                <i class="fas fa-meh"></i>
            {% elseif 
                            1 <= points %}
                <i class="fas fa-tired"></i>
            {% endif %}
            {{ points }}/10 :
            {{congrats}}</h2>
        <h3>sur le quizz :
            {{quizz.title}}</h3>

        <a href="{{ path('add_like', {'id': quizz.id, 'slug': quizz.slug }) }}">
            <h4>J'adore ce quizz
                <i class="fas fa-thumbs-up ml-1"></i>
            </h4>
        </a>

    {% for key, q in quizz.questions %}
        <div class="bubble col-8 offset-2 {% if 'prop1' == answers[key+1] %}true{% else %}false{% endif %}">
            <p class="h5">{{ q.body }}</p>
            <div class="bubble col-8 offset-2">
                {% if 'prop1' == answers[key + 1] %}
                    <h5 class="green">Tout Bon
                        <i class="fas fa-check-circle"></i>
                    </h5>
                {% else %}
                    <h5 class="red">Raté
                        <i class="fas fa-times-circle"></i>
                    </h5>
                {% endif %}
                <ins>la bonne réponse était :</ins>
                <span>{{ q.prop1 }}
                    {% if 'prop1' == answers[key + 1] %}{% endif %}
                </span>
            </div>
            {% if 'prop1' != answers[key + 1] %}
                <div class="col-8 offset-2">Tu as répondu :
                    {% if 'prop1' == answers[key + 1] %}
                        la bonne réponse
                    {% elseif 'prop2' == answers[key+1] %}{{ q.prop2 }}
                    {% elseif 'prop3' == answers[key+1] %}{{ q.prop3 }}
                    {% elseif 'prop4' == answers[key+1] %}{{ q.prop4 }}
                    {% endif %}
                </div>
            {% endif %}
            {% if q.anecdote != null %}
                <p>
                    <u>
                        <ins>anectode</ins>
                    </u>
                    {{ q.anecdote }}</p>
            {% endif %}
            {% if q.source != null %}
                <p>
                    <u>
                        <ins>Source</ins>
                    </u>
                    {{ q.source }}</p>
            {% endif %}
        </div>
    {% endfor %}

    {#TODO afficher un div avec les statistiques du joueur sur ce quizz
<div class="bubble col-8 offset-2">
    <p class="h5">Stats </p>
</div>
#}

{% endblock %}